<script>
    $(function() {
        $( "#modal" ).dialog({ autoOpen: false, draggable: false, modal: true });

        $(".event").on("click", function(event) {
            // Stop the click from loading a new page
            event.preventDefault();

            // Get the URL of the clicked on div
            var eventURL = event.currentTarget.firstChild.attributes['href'].value;

            // Load the URL content for the event dynamically in the modal
            $.getJSON(eventURL, function(data) {
                var modal = $($.find("#modal")[0]);

                // Clear current contents of div
                modal.empty();

                // Add the attributes to the div:
                modal.dialog('option', 'title', data["title"]);
                modal.append("<p>Professor: " + data["professor"] + "</p>");
                modal.append("<p>Description: " + data["description"] + "</p>");
                modal.append("<p>Due date: " + data["due_date"] + "</p>");

                // Finally, open the modal
                $("#modal").dialog("open");
            }).error(function() {
                        var modal = $($.find("#modal")[0]);

                        // Clear current contents of div
                        modal.empty();

                        // Add the attributes to the div:
                        modal.append("Error: Failed to load event.");
                    });

        });
    });
</script>

<style>
    <% @course_styles.each do |k| %>
    .<%= k.first %>
    {
        background-color: <%= k.last %>;
    }
    <% end %>

  table td
  {
      vertical-align:text-top;
      /*background: #f5f5dc;*/
  }
</style>

<div class="row">
    <div class="span8"><h2><%= @month %></h2></div>
    <div class="span4">
      <%= link_to "Previous Month", :controller => "calendar", :action => "index", :date => (@date - 1.month).to_s %>
      | <%= link_to "Next Month", :controller => "calendar", :action => "index", :date => (@date + 1.month).to_s %>
    </div>
</div>

<div class="row">
    <div class="span3">

    </div>
    <% Date::DAYNAMES.each do |day| %>
        <div class="span1"><h5><%= day %></h5></div>
    <% end %>
</div>

<div class="row">
  <div class="span3">
    <h4>Filters</h4>
    <p>Here is some dummy text of what this container could hold. There will be abilities to filter your classes and more!</p>

    <a href="#" class="btn btn-danger"><i class="icon-white icon-warning-sign"></i> Delete Event</a>
  </div>
<% 5.times do |row| %>

  <div class="span7">
    <div class="row">
    <% 7.times do |column| %>
        <div class="span1">
          <%= @calendar_start_day.day %>
          <% @sections_and_events.select { |se| se[:end_date].day == @calendar_start_day.day and se[:end_date].month == @calendar_start_day.month }.each do |se| %>
            <div class="<%= se[:course_name] %> event"><%= link_to se[:event_title], :controller => "events", :action => "show", :event_id => se[:event_id], :section_id => se[:section_id] %></div>
          <% end %>
        </div>
        <% @calendar_start_day += 1.day %>
    <% end %>
    </div>
  </div>

<% end %>
</div>


<div id="modal">No events loaded.</div>