<script type="text/javascript">

    $(document).ready(function()
    {
      get_dragon_drop_data();
    });
    function get_content()
    {
        $.getJSON("<%=dragon_drop_index_path%>", function(data)
        {
           for(var i = 0; i < data.length; i++)
           {

           }
        });
    }

</script>

<%= collection_select(:course, :id, @courses, :id, :name) %>

<table>
  <% @unassigned_events.each do |course, events| %>
      <tr style="height:100px">
        <td style="width:100px"><%= course.name %></td>
        <% events.each do |event| %>
            <td style="width:100px">
              <%= event.title %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>

<table>
  <tr style="height:100px">
    <td style="width:100px"></td>
    <% Date::DAYNAMES.each do |day| %>
        <td style="width:100px">
          <%= day %>
        </td>
    <% end %>
  </tr>
  <% @sections.each do |section| %>
      <tr style="height:100px">
        <td style="width:100px">
          <%= section[:section_name] %>
        </td>
        <% 7.times do |day| %>
            <td style="width:100px">
              <% @assigned_events.select { |event|
                event[:end_date].wday==day and event[:section_id]==section[:section_id]}.each do |event| %>
                <div class="<%= event[:event_id] %>"><%= event[:event_title] %></div>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
</table>

<button onclick="window.open('/events/new','Event Creator',' width=800,height=600')">Create New Event</button>