
    <style>
        .event{ width: 0px; height: 0px; padding: 20px; background-color:#e06043;}
        #Event1{width:60px; height:60px; margin: 2px; padding:10px; background-color:#C60; float:left;}
        #Event2{width:100px; height:100px; padding:10px; background-color:#57d391; float:left}
        #Event3{width:100px; height:100px; padding:10px; background-color:#355cca; float:left}

        #draggableContainer{background-color:#0F3; padding:20px; text-align:center; }

        #droppableDiv { width: 150px; height: 150px; padding: 0.5em; background-color:#C33}
        .alert{ background-color:#0FF;}
        .drophover{ border:1px solid #000;}
        #Day{ font-family:Arial, Helvetica, sans-serif; font-size:14px; text-decoration:none; font-weight:bold; color:#FFF}


        table td
        {
            vertical-align:text-top;
            background: #f5f5dc;
        }

    </style>
    <script>

//        $("#hidr").click(function () {
//            $("#draggableContainer").hide(1000);
//        });
        $(function() {
            $('#draggableContainer');

            var xxx = $.find(".event1");
            $.each(xxx, function(index, item) {
                $(item).sortable().draggable({ opacity: 0.35 , containment: 'document', cursor:'pointer', revert: true});
            });

//            $( "#Event2" ).sortable().draggable({ opacity: 0.35 , containment: 'document', cursor:'pointer', revert: true});
//            $( "#Event3" ).sortable().draggable({ opacity: 0.35 , containment: 'document', cursor:'pointer', revert: true});


            $( "#droppableDiv" ).droppable({ hoverClass: 'drophover', tolerance:'pointer',
                over: function()
                {
                    //execute code you want when users hover in but havent dropped
                    $('#droppableDiv').text('here');
                },
                out: function()
                {
                    //execute code you want when users hover out
                    $('#droppableDiv').text('out');
                },
                drop: function(event, ui)
                {
                    //drop function with ui so we can receive div data
                    var draggableid = ui.draggable.attr("id");
                    var draggableClass = ui.draggable.attr("class");
                    var droppableId = $(this).attr("title");
                    if(draggableid == "draggableContainer")
                    {
                        //do nothing
                        alert("you shouldnt drag the container over the calender")
                    }
                    else
                    {
                        alert("you dropped " + draggableid + " on " + droppableId);
                        $( this ).addClass("alert")
                    }
                }
            });
        });
    </script>

<!--<div id="draggableContainer">-->
    <!--<div id="Event1" class="event1">-->
        <!--Event1-->
    <!--</div>-->

    <!--<div id="Event2" class="event2">-->
        <!--Event2-->
    <!--</div>-->

    <!--<div id="Event3" class="event3">-->
        <!--Event3-->
    <!--</div>-->
<!--</div>-->


<!--<div id="startTxt"></div>-->
<!--<div id="contTxt"></div>-->
<!--<div id="stopTxt"></div>-->

<!--<button id="close">Hide 'em</button>-->

<!--<div id="something">some text</div>-->
<script>
    $("#close").click(function () {
        $("#draggableContainer").toggle("slow");
    });
</script>
















    <%= collection_select(:course, :id, @courses, :id, :name) %>

    <div id="draggableContainer">
        <% @unassigned_events.each do |course, events| %>

            <%#= course.name %>
            <% events.each do |event| %>
                <div id="Event1" class="event1">
                    <%= event.title %>
                </div>

            <% end %>

        <% end %>
    </div>

    <table>
        <tr style="height:100px">
            <td style="width:100px"></td>
            <% Date::DAYNAMES.each do |day| %>
            <td style="width:100px">
                <%= day %>
            </td>
            <% end %>
        </tr>
        <% @sections.each do |section| %>
        <tr style="height:100px">
            <td style="width:100px">
                <%= section[:section_name] %>
            </td>

            <% 7.times do |day| %>
            <td style="width:100px">

              <div id="droppableDiv" class="dropBox" title="Today">
                <a href="#" id="Day" class="drop"></a> <!-- Begin Nav Bar -->
                <script src="js/Date.js" type="text/javascript"></script>
              </div>

                <% @assigned_events.select { |event|
                event[:end_date].wday==day and event[:section_id]==section[:section_id]}.each do |event| %>
                <div class="<%= event[:event_id] %>">
                  <%= event[:event_title] %>
                </div>
                <% end %>
            </td>

            <% end %>
        </tr>
        <% end %>
    </table>