<h1 xmlns="http://www.w3.org/1999/html"><%= @event.title %></h1>

<p>Professor: <%= @professor.first_name + " " + @professor.last_name %></p>

<p>
  Description: <%= @event.description %><br/>
  Due date: <%= @section_event.end_date.strftime("%A, %b %d %Y") %>
</p>

<%= link_to "Calendar", :calendar_index %>